




@media print {
        .screen-only{
          display:none;
        }
}


#welcome {text-align: center;}
#main {text-align: center;}
#middle {;}
#footer {;}
#group


ul {color: red;}
li {font-weight:bold;}

nav {
  margin-bottom: 10px;
}

table, td, th {
  border: 1px solid green;
}
