


%upper-case {
    text-transform: uppercase;
}

$color: green;
$color2:#e0e8e8;

.green {
    @extend %upper-case;
    color: $color;
  }

@media print {
        .screen-only{
          display:none;
        }
}

#main {
  text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: $color2;
    }
}

.bold {
  font-weight: bold;
}


li {font-weight:bold;}
