





@@media print {
        .screen-only{
          display:none;
        }
}

#top {;}
#middle {;}
#footer {;}
#group
.drinks {;}

body {
  width:50%;

}
ul {color: red;}
li {font-weight:bold;}
a {text-align: center;}
nav {
  border: 1px solid green;
  text-align: center;
  margin-bottom: 50px;
}

nav a {
  width:50px;
  margin: 30px;
}
