


@@media (min-width: 500px) {
        h1::before {
            content: "Welcome to My Web Page";
        }
}

@@media (max-width: 499px) {
      h1::before {
        content: "Welcome!";
      }
}

@@media print {
        .screen-only{
          display:none;
        }
}


#top {;}
#middle {;}
#footer {;}
#group
.drinks {;}

ul {color: red;}
li {font-weight:bold;}
a {text-align: center;}
nav {
  border: 1px solid green;
  text-align: center;
  margin-bottom: 50px;
}

nav a {
  width:50px;
  margin: 30px;
}
